.venv/
venv/
env/
ENV/
.venv311/*
.cache/*
*.env
*.pyvenv.cfg
bin 
lib/*
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.vscode/
.idea/

*.log
*.tmp
*.swp
*.bak

wandb/
results/runs/*/checkpoint/model/
*.safetensors
models/checkpoints/
output/
cache/
datasets_cache/
hf_cache/
*.h5
*.ckpt

models/__pycache__/
__pycache__/
*.pyc

*.egg-info/
build/
dist/

logs/interactions/

.DS_Store
